{% extends 'news/default.html' %}

{% load custom_filters %}
{% load static %}

{% block content %}
<a href="{% url 'create_article' %}">Создать статью</a> <a href="{% url 'create_news'%}">Создать новость</a>
    <h2>Список новостей</h2>
    {% for article in news %}
        <h3>{{ article.title|censor }}</h3>
        <p>{{ article.dateCreation|date:"d.m.Y" }}</p>
        <p>{{ article.text|slice:":20"|censor }}...</p>
        <a href="{% url 'news_detail' pk=article.pk %}">Подробнее</a>
<p></p>
    {% endfor %}

       {% if page_obj.has_previous %}
           <a href="?{% url_replace page=1 %}">1</a>
           {% if page_obj.previous_page_number != 1 %}
               ...
               <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
           {% endif %}
       {% endif %}

       {{ page_obj.number }}

       {% if page_obj.has_next %}
           <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
           {% if paginator.num_pages != page_obj.next_page_number %}
               ...
               <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
           {% endif %}
       {% endif %}
{% endblock %}