<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Грустные новости</title>
</head>
<body>
    <h1>Обновлений по вашим подпискам не было на этой неделе</h1>
    <p> Уважаемый, {{ subscriber_name }},</p>
    <p>Мы хотели сообщить вам, что на этой неделе в категориях, на которые вы подписаны, не было новых публикаций.</p>
    <p>Спасибо за то, что вы являетесь нашим ценным подписчиком</p>
    <p>С уважением,<br>Команда Newspaper</p>
</body>
</html>